@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer styles */
@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gelasio", "Instrument Sans", sans-serif;
  }

  body {
    color: #333;
    line-height: 1.6; /* Added a subtle background color for contrast */
  }

  a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #2a81d7; /* Example hover color, adjust as needed */
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: #222; /* Slightly darker color for headings */
  }


.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu-hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
}
