@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    @apply overflow-x-hidden;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gelasio", "Poppins";
  }

  body {
    color: #333;
    line-height: 1.6;
    margin: 0 auto;
    padding: 1rem;
  }

  a {
    color: #066;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 1rem;
  }
}


